# data/davis_test.csv
# data/davis_train.csv
# data/kiba_test.csv
# data/kiba_train.csv
data/*.csv
# data/processed/davis_test.pt
# data/processed/davis_train.pt
# data/processed/kiba_test.pt
# data/processed/kiba_train.pt
data/processed/*
data/davis/other
data/kiba/other
wandb/*
other/*
results/old
results/validation*
*.pt
__pycache__/
models/other
multiple_training.sh
multiple_validation.sh